<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="techquick-seed-api" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^localhost:8080|10.0.6.[0-9]:8080+$" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:8088/api/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
